<%- include('../partials/header'); %>

<div class="container">
  <div class="row">
    <div class="col-2" id="external-events">
      <form
        id="event-delete-form"
        class="mt-3"
        method="POST"
        action="/users/admin/domain/page/<%= eventFindById._id %>?user_email=<%= userEmail%>&domain_name=<%=domainName%>&_method=PUT"
      >
        <div id="edit-event-title">Update event</div>
        <div class="mb-3">
          <label for="update-event-title" class="form-label">Event title</label>

          <input
            type="text"
            class="form-control"
            id="title-to-update"
            name="titleToUpdate"
            value="<%= eventFindById.title %>"
          />
        </div>

        <div class="mb-3">
          <label for="update-event-start-date" class="form-label"
            >Start date</label
          >
          <input
            type="date"
            class="form-control"
            id="start-date-to-update"
            name="startDateToUpdate"
            value="<%= eventFindById.start.toISOString().split('T')[0] %>"
          />
        </div>

        <div class="mb-3">
          <label for="update-event-start-time" class="form-label"
            >Start time</label
          >
          <input
            type="time"
            class="form-control"
            id="update-start-time"
            name="updateEventStartTime"
            value="<%= eventFindById.start.toISOString().split('T')[1].split('.')[0] %>"
          />
        </div>

        <div class="mb-3">
          <label for="update-event-end-date" class="form-label">End date</label>
          <input
            type="date"
            class="form-control"
            id="end-date-to-update"
            name="endDateToUpdate"
            value="<%= eventFindById.end.toISOString().split('T')[0] %>"
          />
        </div>

        <div class="mb-3">
          <label for="update-event-end-time" class="form-label">End time</label>
          <input
            type="time"
            class="form-control"
            id="update-end-time"
            name="updateEventEndTime"
            value="<%= eventFindById.end.toISOString().split('T')[1].split('.')[0] %>"
          />
        </div>

        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" id="submit-button">
            Update
          </button>
        </div>
      </form>

      <form
        id="event-delete-form"
        class="mt-3"
        method="POST"
        action="/users/admin/domain/page/<%= eventID %>?_method=DELETE"
      >
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" id="submit-button">
            Delete
          </button>
        </div>
      </form>
    </div>

    <div class="col-10" id="calendar-container">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<div id="get-email"><%= userEmail%></div>

<div id="get-domain"><%=domainName%></div>

<%- include('../partials/footer'); %>
